In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("decision_tree_ornek.csv", encoding='ISO-8859-1')

In [3]:
df

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
0            Çok     Yeterli               Evet
1           Orta          Az              Hayir
2             Az     Yeterli              Hayir
3           Orta     Yeterli               Evet
4            Çok          Az               Evet
5             Az          Az              Hayir
6           Orta     Yeterli               Evet
7             Az     Yeterli              Hayir
8            Çok     Yeterli               Evet
9           Orta          Az              Hayir

In [4]:
#BIRINCI DURUM
#Çalışma Zamanına Göre Dersi Geçme Durumlarını İnceleyelim
time = df.groupby("Calisma_Zamani")

In [5]:
time.get_group("Çok")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
0            Çok     Yeterli               Evet
4            Çok          Az               Evet
8            Çok     Yeterli               Evet

In [6]:
df2  = time.get_group("Orta")
df2

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
1           Orta          Az              Hayir
3           Orta     Yeterli               Evet
6           Orta     Yeterli               Evet
9           Orta          Az              Hayir

In [7]:
time.get_group("Az")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
2             Az     Yeterli              Hayir
5             Az          Az              Hayir
7             Az     Yeterli              Hayir

In [8]:
#Uyku durumuna göre ağacı ayıralım:
sleep = df2.groupby("Uyku_Durumu")

In [9]:
sleep.get_group("Yeterli")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
3           Orta     Yeterli               Evet
6           Orta     Yeterli               Evet

In [10]:
sleep.get_group("Az")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
1           Orta          Az              Hayir
9           Orta          Az              Hayir

In [11]:
#IKINCI DURUM
sleep_two = df.groupby("Uyku_Durumu")
data1 = sleep_two.get_group("Yeterli")
data1

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
0            Çok     Yeterli               Evet
2             Az     Yeterli              Hayir
3           Orta     Yeterli               Evet
6           Orta     Yeterli               Evet
7             Az     Yeterli              Hayir
8            Çok     Yeterli               Evet

In [12]:
data2 = sleep_two.get_group("Az")
data2

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
1           Orta          Az              Hayir
4            Çok          Az               Evet
5             Az          Az              Hayir
9           Orta          Az              Hayir

In [13]:
#Durum2 için Calisma Zamanına Bölelim
time_two = data1.groupby("Calisma_Zamani")
time_two.get_group("Çok")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
0            Çok     Yeterli               Evet
8            Çok     Yeterli               Evet

In [14]:
time_two.get_group("Az")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
2             Az     Yeterli              Hayir
7             Az     Yeterli              Hayir

In [15]:
time_two.get_group("Orta")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
3           Orta     Yeterli               Evet
6           Orta     Yeterli               Evet

In [16]:
time_tree = data2.groupby("Calisma_Zamani")
time_tree.get_group("Çok")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
4            Çok          Az               Evet

In [17]:
time_tree = data2.groupby("Calisma_Zamani")
time_tree.get_group("Az")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
5             Az          Az              Hayir

In [18]:
time_tree = data2.groupby("Calisma_Zamani")
time_tree.get_group("Orta")

  Calisma_Zamani Uyku_Durumu Dersi_gecme_durumu
1           Orta          Az              Hayir
9           Orta          Az              Hayir

In [39]:
n1 = 3  
n2 = 4
n3 = 3  

# Gini indeksleri
gini_calisma1 = 1 - (3/3)**2
gini_calisma2 = 1 - (2/4)**2 - (2/4)**2
gini_calisma3 = 1 - (3/3)**2
total_gini = (n1 * gini_calisma1 + n2 * gini_calisma2 + n3 * gini_calisma3) / (n1 + n2 + n3)
total_gini

0.2

In [42]:
# Her düğümün boyutunu belirleyelim
n1_uyku = 6  
n2_uyku = 4  

gini_uyku1 = 1 - (4/6)**2 - (2/6)**2
gini_uyku2 = 1 - (1/4)**2 - (3/4)**2
# Ağırlıklı Gini indeksi
total_gini_uyku = (n1_uyku * gini_uyku1 + n2_uyku * gini_uyku2) / (n1_uyku + n2_uyku)
total_gini_uyku

0.4166666666666667

In [25]:
import math

In [62]:
entropi = -1/2*math.log2(1/2) -1/2*math.log2(1/2)

In [63]:
#uyku durumu için gain
H_yeterli = -(2/3)*math.log2(2/3) -(1/3)*math.log2(1/3)

In [64]:
H_az = -(1/4)*math.log2(1/4) -(3/4)*math.log2(3/4)

In [73]:
Bilgi_kazanci_uyku = entropi - 6/10*H_yeterli - 4/10*H_az

In [74]:
Bilgi_kazanci_uyku

0.12451124978365319

In [67]:
#çalışma süresi için gain

In [68]:
H_çok = -(3/3)*math.log2(3/3)

In [69]:
H_orta = -(2/4)*math.log2(2/4) - (2/4)*math.log2(2/4)

In [70]:
H_uyku_az =-(3/3)*math.log2(3/3)

In [75]:
Bilgi_kazanci_calisma = entropi - 3/10*H_çok - 4/10*H_orta - 3/10*H_uyku_az

In [76]:
Bilgi_kazanci_calisma

0.6